.taskcard {
    border: solid #8d99ae;
    width: 80%;
    max-width: 1000px;
    cursor:pointer;
    border-radius:10px;
    margin: 0.3rem;
    position: relative;
}

.taskcard:hover {
    background-color: #8d99ae8c;
}

.taskcard .completed {
    text-decoration: line-through;
  }

  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-button:hover {
    opacity: 0.7;
}