.taskpage {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    margin-top: 1rem;
}

.tasktab {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    justify-content: flex-start;
}