.home-header {
    margin: 2rem
}

.header-title {
    margin-bottom:1rem;
}

.header-link {
    margin: 2rem 2rem 0.25rem 2rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8D99AE;
}

.header-link:hover { 
    background-color: #758394;
    color: black
}

.home-info {
    margin: 2rem 0rem;
}

.home-container {
    margin: 2rem 0rem;
    padding: 0.5rem 0rem;
}

.main-header {
    background-color: #8d99ae8c;
}

.home-item {
    margin: 0rem 1rem
}